<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Edit Expense</h3>
                <div class="form-group">
                     <label for="">Date</label> 
                     <input class="form-control"  type="datetime-local" name="date" value="{{expenses[2]}}"  id="date"></div>

                <div class="form-group"> <label for="">Expense name</label> 
                    <input class="form-control" type="text" name="expensename" value="{{expenses[3]}}" id="expensename">
                </div>
                <div class="form-group">
                     <label for="">Expense Amount</label> 
                      <input class="form-control"  type="number" min="0" name="amount" value="{{expenses[4]}}" id="amount">
                </div>
                <div class="form-group">
                    <label for=""></label> 
                    <select class="form-control" name="paymode" value="Payment Method"  id="paymode">
                        <option selected hidden>Payment Method</option>
                        <option value="cash">cash</option>
                        <option value="debitcard">debitcard</option>
                        <option value="creditcard">creditcard</option>
                        <option value="onlinebanking">onlinebanking</option>
                    
                    </select>
                
                 <div class="form-group">
                    <label for=""></label>
                    <select class="form-control" name="category" value="Category"  id="category">

                         <option  selected hidden>Category</option>
                        <option value="food">food</option>
                        <option value="rent">Rent</option>
                        <option value="EMI">EMI</option>
                        <option value="other">other</option>
                    </select>
                </div>
                <input class="btn btn-danger" type="submit" value="Update" id="">
            </form>
        </div>
    </div>
    
</div>
   